$BlueAccent: #cde7ff;
$BlueDarkAccent: #9ed0ff;

.scrollToTopButton {
    position: fixed;
    bottom: 30px;
    right: 30px;

    button{
        padding: 10px;
        color: black;
        background-color: $BlueAccent;
        box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.35);

        &:hover{
            background-color: $BlueDarkAccent;
        }
    }
}

@media screen and (max-width: 600px) {
    .scrollToTopButton {
        bottom: 30px;
        right: 40px;
    }
}